.header{
    background-color: rgb(240, 240, 215);
    color:rgb(28, 25, 25);
    display:flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1100px;
    margin:20px 0px 100px 0px;    
}
.headerContainer.listMode{
    margin:20px 0px 0px 0px;   
}
.headerList{
    display: flex;
    gap:40px;
    margin-bottom: 50px;
}
.headerListItem{
    display:flex;
    align-items: center;
    gap:10px;
}

.headerListItem.active{
    padding:10px;
    border-radius:20px;
}
.headerDesc{
    margin:20px 0px;
}
.headerBtn{
    background-color: rgb(118, 131, 131);
    color:white;
    font-weight:200;
    border:none;
    padding:20px;
    cursor:pointer;
    text-align: center;

    
}
.headersearch{
    height: 40px;
    background-color: rgb(247, 249, 249);
    border:1px solid rgb(227, 219, 213);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 10px;
    position:absolute;
    bottom:-30px;
    width:100%;
    max-width: 1200px;

}

.headerIcon{
    color:rgb(176, 176, 170)
}
.headersearchItem{
    display: flex;
    align-items: center;
    gap:10px;

}
.headersearchInput{
    border:none;
    outline:none;
}
.headersearchText{
    color:antiquewhite;
    cursor:pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.options{
    z-index: 2;

    position:absolute;
    top:50px;
    background-color: white;
    color: gray;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

}
.optionItem{
    widows: 200px;
    display: flex;
    justify-content: space-between;
    margin :20px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 12px;
    color: black;
}
.optionCounterButton{
    width:30px;
    height:30px;
    border: 1px solid #0071c2;
    color:#0071c2;
    cursor: pointer;
    background-color: white;
}
.optionCounterButton:disabled {
    cursor:not-allowed;
}